      /* navbar-1 Start */
#main1{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(18, 185, 171);
    margin: auto;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    color: aliceblue;
}
#search{
    margin-left: 250px;
}
#nav:hover,#Home:hover,#Features:hover,#pricing:hover{
    background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid red;
    transition: all 1s;
}
 /* navbar-1 end */

   /* navbar-2 Start */
   #main2{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(185, 18, 40);
    margin: auto;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    color: aliceblue;
    margin-top: 5px;
}
#logo{
    margin-left: 300px;
}
 
#navbar:hover,#Lifestyle:hover,#beauty:hover, #tutorials:hover{
    background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid red;
    transition: all 2s;
}
 /* navbar-2 end */


 /* navbar-3 start */

 #main3{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(16, 190, 202);
    margin: auto;
    display: flex;
    padding-top: 10px;
    padding-bottom:10px ;
    font-size: 22px;
    color: aliceblue;
    margin-top: 5px;
}
#contect,#setting,#profile{
    padding-left: 10px;
    margin: 4px;
}
#navbar3{
    justify-content: flex-start;
    margin-left: 20px;
    padding-right: 450px;

}
#contect:hover,#setting:hover,#profile:hover{
background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid red;
    transition: all 2s;
height: 20px;
}

/* navbar-3 end */



/* navbar-4 start */
#main4{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(202, 16, 202);
    margin: auto;
    display: flex;
    justify-content:space-around;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    color: aliceblue;
    margin-top: 5px;    
}
#navbar4:hover,#Technology:hover,#Gadgets:hover,#Laotops:hover,#Phones:hover{
    background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid red;
    transition: all 2s;
}
#msgicon{
    padding-left:400px;
}
/* navbar-4 end */

/* navbar-5 start */
#main5{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(65, 110, 235);
    margin: auto;
    display: flex;
    justify-content:space-around;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    color: aliceblue;
    margin-top: 5px;    
}

#navbar5:hover,#books:hover,#movies:hover,#song:hover{
    background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid red;
    transition: all 2s;
}
#pera{
    padding-left:200px;
    margin-bottom: 400px;
    
} 
/* navbar-5 end */

  /* navbar-6 Start */
  #main6{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(18, 185, 171);
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    color: aliceblue;
    margin-top: 5px;
}


#nav:hover,#shop:hover,#dolls:hover,#toys:hover{
    background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid red;
    transition: all 1s;
}
 /* navbar-6 end */


  /* navbar-7 Start */
  #main7{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(239, 33, 33);
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom:15px ;
    font-size: 22px;
    color: aliceblue;
    margin-top: 5px;
}


#nav:hover,#news:hover,#world:hover,#country:hover{
    background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid rgb(251, 248, 248);
    transition: all 1s;
}
 /* navbar-7 end */


 /* navbar-8 start */

 #main8{
    width: 90%;
    height: 25px;
    background-color: black;
    margin: auto;
    display: flex;
    padding-top: 10px;
    padding-bottom:10px ;
    font-size: 22px;
    color: aliceblue;
    margin-top: 5px;
}
 #follow{
margin-left: 220px;
}
#collaboration,#media{
    margin-left: 20px;
}

#follow:hover,#collaboration:hover,#media:hover{
background-color: rgba(0, 0, 0, 0.196);
    border-bottom: 5px solid red;
    transition: all 2s;
height: 20px;
}
 /* navbar-8 end */











